.category{
    width: 20%;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

.items{
    width: 20%;
    margin-top: 1em;
}

.items:hover{
    border: 1px solid black;
}